@page "/"
@using realtimeblazor.Services
@using realtimeblazor.Data
@inject CryptoService CryptoService
@implements IDisposable

<MatTable Items="@_cryptos" class="mat-elevation-z5" ShowPaging="false" ShowFooter="false">
    <MatTableHeader>
        <th style="font-weight: bold">Name</th>
        <th>Ticker</th>
        <th>Price</th>
    </MatTableHeader>
    <MatTableRow>
        <td>@context.Name</td>
        <td>@context.Ticker</td>
        <MatRipple>@context.Price</MatRipple>
    </MatTableRow>
</MatTable>

@code {

    private IEnumerable<ICrypto> _cryptos;

    protected override void OnInitialized()
    {
        CryptoService.OnPriceUpdate += PriceUpdate;
        _cryptos = CryptoService.GetList();
    }

    private async void PriceUpdate(ICrypto crypto)
    {
        await InvokeAsync(StateHasChanged);
    }

    public void Dispose()
    {
        CryptoService.OnPriceUpdate -= PriceUpdate;
    }
}
